{"filter":false,"title":".gitignore","tooltip":"/final_repository/git-test/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1591876138162,"hash":"9ab91ca8f7650ea82ce64e391fbb6321d32aeaa8"}